<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize class="drawer-container">
  <mat-drawer #drawer mode="side" opened>
    <mat-list class="drawer-list">
      <mat-list-item *ngFor="let page of pages">
        <a [routerLink]="page.path">{{ page.name }}</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

